.auth-container {
    width: 100%;
    height: 100vh;
    padding: 160px 150px 60px 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    background-color: #9BE9E9;
    background-image: url('http://res.cloudinary.com/malice/image/upload/v1510704812/Google-Now-Backgrounds-San-Francisco-Day_zpxawk.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.auth-form, .auth-form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.auth-form-header {
    width: 27%;
    min-width: 250px;
    letter-spacing: 2px;
}

.auth-form {
    width: 73%;
}

.auth-form-title {
    color: #FEFEFE;
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.auth-form input {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #F65600;
    border-bottom: 1px solid #FEFEFE;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 5px;
}

.auth-form input:last-of-type {
    border: none;
}

.submit-button {
    width: 100%;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

.switch-form-link {
    color: #F55600;
}

.switch-form-link, .switch-form-text {
    font-weight: 700;
}

.switch-form-text {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #19334A;
}

.auth-error {
    color: #F65600;
    padding: 10px;
}

::-webkit-input-placeholder {
    color: #FEFEFE;
}

:-moz-placeholder {
    color: #FEFEFE;
    opacity: 1;
}

::-moz-placeholder {
    color: #FEFEFE;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #FEFEFE;
}

::-ms-input-placeholder {
    color: #FEFEFE;
}