.header-container {
    display: flex;
    flex-direction: column;
}

.app-header {
    color: #F65600;
    background-color: #FEFEFE;
    font-family: 'Bowlby One SC', cursive;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 
                0 3px 6px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title {
    padding: 30px 60px;
    border-right: 1px solid #EAEAEA;
}

.fa-sign-out {
    padding: 30px 60px;
    cursor: pointer;
    border-left: 1px solid #EAEAEA;
}

.app-header a {
    text-decoration: none;
    color: #F65600;
}

.trial-banner {
    margin-top: 90px;
    background-color: #F65600;
    padding: 30px;
    color: #FEFEFE;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upgrade-button {
    border-radius: 3px;
    cursor: pointer;
}

.upgrade-text {
    font-weight: 700;
    padding: 10px;
    color: #F65600;
}