.subscription-page-container {
    width: 100%;
    height: 100%;
    padding: 160px 150px 60px 150px;
    box-sizing: border-box;
}

.subscription-page-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 10px;
}

.subscription-page-errors {
    margin-top: 60px;
    color: #F65600;
    font-weight: 700;
}